
/ecommerce-book/infrastructure/bin/Debug/net8.0
/ecommerce-book/infrastructure/obj/Debug/net8.0
/ecommerce-book/.vs/ecommerce-book
/ecommerce-book/api/bin/Debug/net8.0
/ecommerce-book/api/obj/Debug/net8.0
/ecommerce-book/application/bin/Debug/net8.0
/ecommerce-book/application/obj/Debug/net8.0/ref
/ecommerce-book/application/obj/Debug/net8.0/refint
/ecommerce-book/application/obj/Debug/net8.0
/ecommerce-book
/ecommerce-book/application/obj
/ecommerce-book/application/obj/application.csproj.nuget.dgspec.json
/ecommerce-book/application/obj/application.csproj.nuget.g.props
/ecommerce-book/application/obj/application.csproj.nuget.g.targets
/ecommerce-book/application/obj/project.assets.json
/ecommerce-book/application/obj/project.nuget.cache
/ecommerce-book/core
/ecommerce-book/infrastructure/obj
/ecommerce-book/infrastructure/obj/infrastructure.csproj.nuget.dgspec.json
/ecommerce-book/infrastructure/obj/infrastructure.csproj.nuget.g.props
/ecommerce-book/infrastructure/obj/infrastructure.csproj.nuget.g.targets
/ecommerce-book/infrastructure/obj/project.assets.json
/ecommerce-book/infrastructure/obj/project.nuget.cache
